params {
    gene_tpm = false
    output_folder = false
    tumor = true
    method = "lsei"
    container__quantiseq = "quay.io/hdc-workflows/quantiseq:893257c"
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:v1.2.1_latest"
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/FredHutch/pw-bulk-rna-lymphocytes'
    mainScript = 'main.nf'
    name = 'Bulk RNAseq Lymphocyte Analysis (PubWeb)'
    nextflowVersion = '>=21.04.0'
    version = '1.0'
}

profiles {
    standard {
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 4.GB
            }
            withLabel: mem_medium {
                cpus = 4
                memory = 30.GB
            }
            withLabel: cpu_medium {
                cpus = 8
                memory = 15.GB
            }
            withLabel: cpu_verylarge {
                cpus = 36
                memory = 58.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 1.GB
            }
            withLabel: mem_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_verylarge {
                cpus = 1
                memory = 1.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
            maxForks = 10
        }
    }
}
